<div class="post-list">
  <div class="heading">
    <h1>Posts</h1>
  </div>

  <div class="list">
    <div *ngIf="posts$ | async as posts">
      <mat-expansion-panel
        hideToggle
        class="item"
        *ngFor="let post of posts"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>{{ post.title }}</mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ post.body }}</p>
        <mat-action-row>
          <button mat-flat-button color="primary" [routerLink]="[post.id]">Comments</button>
        </mat-action-row>
      </mat-expansion-panel>
    </div>
  </div>
</div>
