<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Add a new entry</mat-card-title>
  </mat-card-header>
  <mat-card-content class="form-container">
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
        matInput
        [formControl]="author"
        required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Message</mat-label>
        <input 
        matInput
        [formControl]="message" 
        required />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="onSubmit()">Submit</button>
  </mat-card-actions>
</mat-card>
